# Node-related
node_modules
npm-debug.log

# Python-related
__pycache__/
*.pyc
venv/

# Environment files
.env

# Git-related
.git

# Logs
*.log

# Databases and backups
*.sqlite
*.db
*.zip
*.tar.gz

# Uploads and other runtime-generated content
uploads/

# Trained models or other large files
*.traineddata

# System files
.DS_Store
